<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:include="fragment.html :: header('Home')"></span>
    <link rel="stylesheet" th:href="@{/css/login-css.css}"/>
</head>
<div class="login-page">
    <div class="img"></div>
    <div class="login-form-side">
        <div class="login-form">
            <h4>Email Sent to <span th:text="${email}"></span></h4>
            <p>Please check your email</p>
        </div>
        <p class="mx-auto mt-4">&copy; 2022-2023</p>
    </div>

</div>
<section th:include="fragment.html :: js-files">

</section>
</body>
</html>