<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:include="fragment.html :: header('Home')"></span>
    <link rel="stylesheet" th:href="@{/css/login-css.css}"/>
</head>
<div class="login-page">
    <div class="img"></div>
    <div class="login-form-side">
        <form class="login-form" th:action="@{/auth/reset-password}" method="post">
            <h1>Reset Password</h1>
            <div th:if="${error}">
                <div class="alert alert-danger" th:text="error">
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" autocomplete="off" class="form-control" id="email" name="email"
                       placeholder="john....@gmail.com">
            </div>
            <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Sign in</button>
        </form>
        <p class="mx-auto mt-4">&copy; 2022-2023</p>
    </div>

</div>
<section th:include="fragment.html :: js-files">

</section>
</body>
</html>